body {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  background: url(../images/blackjacktable.png);
  background-size: cover;
  background-position: center;

}
side {
  /*background: yellow;*/
  position: absolute;
  top: 20vh;
  left: 78vw;

}
.container {
  display: flex;
  justify-content: center;
}
h2 {
  font-family: fantasy;
  line-height: 50%;


}
h3 {
  font-family: "Courier New" Courier, monospace;
  font-size: 16px;
  color: Chartreuse;
}
h4 {
  font-family: sans-serif;
  font-size: 14px;
  color: gray;
}
p {
  font-family: monospace;
  font-size: 2vh;
  line-height: 40%;
}
#dealer-info {
  margin-top: 5vh;
  margin-left: 23vw;
  width: 8vw;
  height: 7vh;
  text-align: center;
  font-family: sans-serif;
  -ms-transform: rotate(-11deg); /* IE 9 */
  -webkit-transform: rotate(-11deg); /* Chrome, Safari, Opera */
  transform: rotate(-11deg);
}
#dealer-center {
  margin-top: 13vh;
  margin-left: 20vw;
  width: 60vw;
  height: 8vh;
  display: flex;
  display: -webkit-flex;
}
#player-center {
  margin-top: 0vh;
  margin-left: 20vw;
  width: 60vw;
  height: 8vh;
  display: flex;
  display: -webkit-flex;
}
#betting {
  margin-top: 5vh;
  margin-left: 9vw;
  width: 8vw;
  height: 4vh;
  text-align: center;
}
#Chips {
  margin-top: 0vh;
  margin-left: 8vw;
  width: 12vw;
  height: 10vh;
  border-radius: 50%;
  text-align: center;
}
#start {
  margin-top: 0vh;
  margin-left: 7vw;
  width: 12vw;
  height: 4vh;
  text-align: center;
}
.chip {
  height: 33px;
  width: 33px;
  float:left;
  border: 4px dotted black;
  border-radius: 50%;
  /*font-size: 10px;*/
  background-color: silver;
}
.card-item {
  width: 79px;
  height: 123px;
  float: center;
  background-color: yellow;
  /*flex-flow: row;
  flex-wrap: wrap;*/
  border: 2px solid black;


}
#img-of-img {
  top: -492px;
  left: -158px;
  position: absolute;
}
.sprite {
  position: relative;
  width: 79px;
  height: 123px;
  overflow: hidden;
  transform: scale(0.8,0.8);
}
