body {
  border: 1px solid black;
  width: 800px;
  height: 500px;
  /*background: palegreen;*/
  /*background: url(../images/blackjacktable.png);*/
  background-size: cover;
  background-position: center;

}
header {
  border: 1px solid black;
  height: 100px;
}
main {
  border: 1px solid black;
  height: 500px;
  width: 74%;
  float: left;

}
side {
  border: 1px solid black;
  height: 500px;
  width: 25%;
  float: right;
}
div {
  border: 1px solid black;
  height: 100px;

}
footer {
  border: 1px solid black;
  height: 100px;
  clear: both;
  float:left;
  width: 74%;
}

#player-left {
  width: 20%;
}
#player-center {
  width: 58%;
}
#player-right {
  width: 20%;
}
.player {
  float: left;
  width: 33%;
  height: 75%;

}
button {
  padding: 10px;
}
#dealer-info {
  width: 20%;
  float: left;
  text-align: center;
}
#dealer-center {
  width: 78%;
  float: left;
}
#narrative {
  padding: 10px;
  color: grey;
}

.card-item {
  width: 25px;
  height: 35px;
  float: left;
  background-color: yellow;
}
.chip {
  height: 35px;
  width: 35px;
  float:left;
  /*border: 2px dotted black;*/
  border-radius: 50%;
  /*font-size: 10px;*/
  /*background-color: silver;*/
}
h4 {
  padding-left: 10px;
}
